{{- if .Values.server.enabled -}}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "apptracker.fullname" . }}-server
  labels:
    {{- include "apptracker.server.labels" . | nindent 4 }}
spec:
  type: {{ .Values.server.service.type }}
  ports:
    - port: {{ .Values.server.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "apptracker.server.selectorLabels" . | nindent 4 }}
{{- end }}
